<section class="block slideLIn">

  <% var title %>

  <% if( is_category()){ %>

  	<% title = page.category %>
  	<h3 class="page-title"><%= title %></h3>		
  	
	 <% page.posts.each(function (post) { %>    	
    <%- partial('_partial/article',{ post:post}) %> 
	 <% }) %>

  	%>

  <%} else {%>	  

  <% title = __('Page.Categories')%>
  <h3 class="page-title"><%= title %></h3>	

    <% site.categories.forEach( function ( category ){%>
    <div class="category-item slideLIn">
      <a class="category-name" href="<%- url_for(category.path)%>"> <%- category.name %> </a>

      <ul class="category-posts">
          <% category.posts.each(function (post){ %>      
              <li class="category-post-title slideLIn">

              <time ><%= date(post.date, "YYYY/MM/DD") %></time>    

              <a href="<%- url_for(post.path) %>"><%= post.title || __('Untitled') %> </a>                

              </li>

          <% }) %>  
      </ul>
   </div>
    <%}) %>
  <%}%>
   </h3>

</section>
