<article class="post slideLIn">

<%- partial('_partial/post/head',{post: page}) %> 


  <div class="post-text">
   <% if (page.photos && page.photos.length){ %>
        <% for( i in page.photos){%>
          <img src="<%- url_for(page.photos[i]) %>">             
        <%}%>
    <%}%>
    <%- page.content %>    
  </div>  
 
<%- partial('_partial/article/meta',{post: page}) %> 

<% if(theme.mob_share.enable){%>
<%- partial('_partial/post/mob_share') %>
<%}%>


<%- partial('_partial/post/nav',{post: page}) %> 

<% if(theme.reward.enable){  %>
<%- partial('_partial/post/reward') %> 
<% } %>
<% if(theme.leancloud.comment){  %>
 <%- partial('_partial/post/comment') %>
<% } %>


<%# partial('_partial/post/wdigets',{post: page}) %> 
</article>


<% if(theme.toc){  %>
 <%- partial('_partial/post/toc',{post:page}) %>
<% } %>



<% if(theme.leancloud.enable) {%>
 <%- partial('_partial/post/leancloud') %> 
<% }%>
<%- js('js/post') %>