<article id="post" class="post slideLIn">

<div class="post-content">
 
<%- partial('_partial/post/head',{post: page}) %> 


  <div class="post-content">

   <% if (page.photos && page.photos.length){ %>
        <% for( i in page.photos){%>
          <img src="<%- url_for(page.photos[i]) %>">             
        <%}%>
    <%}%>

      <%- page.content %>    

  </div>  
 
<%- partial('_partial/article/meta',{post: page}) %> 
<%- partial('_partial/post/nav',{post: page}) %> 
<%- partial('_partial/post/wdigets',{post: page}) %> 

</article>


<% if(theme.toc){  %>

 <%- partial('_partial/post/toc',{post:page}) %>

<% } %>


<%- js('js/post') %>