<section class="block fadeIn">

  <% var title %>

  <% if( is_tag()){ %>

    	<% title ="# "+ page.tag %>
    	<span  class="page-title"><%= title %></span>		
      	
      	<% page.posts.each(function (post) { %>    	
          <%- partial('_partial/article',{ post:post}) %>     
      	<% })%>
    	%>

    <%} else {%>	  

        <% title = __('Page.Tags')%>
        <span class="page-title"><%= title %></span>	

        <% site.tags.sort('date',-1).each( function (tag){%>

            <span class="iconfont icon-tag-inner"></span>
            <span class="tag-wrap slideDownMin">               
               <a class="tag-name" href="<%- url_for(tag.path) %>"><%- tag.name %></a>%>
             </span>

        <% })%>
    <%}%>

</section>

