<% var profile = theme.profile %>

<div class="widget profile" id="personal-card">
	<div id="author-avatar">

		<a  href="<%= profile.avatar %>">
		<img id="avatar" src="<%= profile.avatar %>" alt="none">
		</a>
	</div>



	<div id="author-info">
		
		<h3><%= profile.author%></h3>
		
		<h4 id="descrption"><%= profile.descrption%></h4>
	
		<% if(profile.city || profile.country){ %>
		<span class="iconfont icon-location" id="location">
		 <%- profile.city%>
		 <%- profile.country%>
		 </span>	
		<%}%>
	</div>

	<div id="social">
    <% for (i in theme.social) { %>    	

		  <a href="<%- url_for(theme.social[i]) %>" class="iconfont icon-<%-i%>" target="_blank" title="<%- i %>">	
          </a>
       
    <% } %>
    </div>


	<div id="count">
		<a href="<%- url_for('archives') %>">	
		<div class="inline count-item">				
		<h4> <%= site.posts.length %> </h4> <h4> <%= __('Sidebar.Posts') %></h4></div></a>	

		<a href="<%- url_for('categories') %>">	
		<div class="inline count-item">
		<h4> <%= site.categories.length %></h4> <h4> <%=  __('Sidebar.Categories') %></h4></div></a>	

	</div>

</div>
