<% if (site.categories.length){ %>
<div class="widget">	
    <a href="<%- url_for(theme.menu.categories) %>"><span class="widget-title"><%= __('Sidebar.Categories') %></span></a>
 	
      <% site.categories.sort('length',-1).each (function (category){%>
      	
      	<div class="categories-post slideDownMin">

      	<a class="left" href="<%- url_for(category.path) %>"><%- category.name %></a>
      	<span class="right categories-count"><%- category.length %></span>	

      	</div>	
      <%})%>
</div>
<% } %>

