<div class="article-content">	

	<% if(post.photos && post.photos.length!=0) {%>
		<%- partial('_partial/article/gallery',{post:post}) %>	
	 <% } %> 


  <% if (post.excerpt) { %>

  	<%- post.excerpt %>

   <% } else { %>
  	<%- post.content %> 

  <% } %>  

</div>

<div class="bottom">
	
    
	
	
	<a class="right article-read-more" href="<%- url_for(post.path) %>"><%= __('Read_more') %></a> 
	
</div>
