<% var year = date(new Date(), 'YYYY') %>
<footer id="footer">

	<div class="social">
    <% for (i in theme.social) { %>    	

		  <a href="<%- url_for(theme.social[i]) %>" class="iconfont icon-<%-i%>" target="_blank" title="<%- i %>"></a>
       
    <% } %>
    </div>
    

	<div class="link">

	 <%= __('Powered-') %> 

	 <a href="http://hexo.io/" target="_blank">Hexo</a>

	 <%= __('Theme-') %>

	 <a href="https://github.com/Lemonreds/hexo-theme-Nayo" target="_blank">Nayo</a> 


	 <br/>  
	 
	 &copy; 
	 <% if (year!='2017'){ %>
	 	2017-
	 <% } %>

	 <%= year %>
	 <%= theme.profile.author || 'Synch' %>
	 

	</div> 


</footer>