<header class="header">
  <nav class="header-nav">
  

    <% if(theme.profile.logo ){%>
      
    <h3 class="header-logo slideDown ">
    <a href="<%- url_for() %>"><%= theme.profile.logo %></a>
    </h3>

    <%} %>

    <div class="header-menu">   
       

        <% for (var i in theme.menu){ %>        
            <a class="header-menu-link" id="header-menu-<%-i%>" href="<%- url_for(theme.menu[i]) %>"><%= __('Menu.'+i) %></a>
       <% } %>      

  
    </div>  


  </nav>
</header>
